/* ===== VARIABLES ===== */
:root {
    scroll-behavior: smooth;
    /* Dark Mode Colors */
    --primary-color: #944db2;
    --hover-color: #712f8e;
    --background-color: #222;
    --text-color: #e0e0e0;
}

[data-theme="light"] {
    /* Light Mode Colors */
    --primary-color: #944db2;
    --background-color: #f4f4f4;
    --text-color: #333;
}

/* ===== GLOBAL STYLES ===== */
body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== NAVIGATION ===== */
nav {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #666;
    height: fit-content;
}

nav a {
    color: var(--nav-text-color);
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu-icon {
    display: none;
}

#theme-container-mobile {
    display: none;
}

/* ===== MAIN CONTENT ===== */
main {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

section {
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    background-color: var(--background-color);
}

h2 {
    font-size: 32px;
}

/* Home Section */
section#home > h1 {
    font-size: 50px;
    font-weight: bolder;
}

#highlight {
    background: linear-gradient(45deg, #d95f5f, var(--primary-color), #4ECDC4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

section#home > p {
    font-size: 28px;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 3rem;
}

/* About Section */
section#about > p {
    font-size: 21px;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 3rem;
}

.points-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.top-row .card, .bottom-row .card {
    flex: 1;
}

.card {
    border-radius: 8px;
    padding: 20px;
    border: 0.5px solid var(--primary-color);
    border-image: linear-gradient(45deg, #d95f5f, var(--primary-color), #4ECDC4) 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px var(--primary-color);
    border: none;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-content {
    font-size: 14px;
}

/* Features Section */
#features {
    padding: 60px 20px;
}

#features h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.feature-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.feature-list li {
    font-size: 1.2rem;
    padding: 15px 0;
    border-bottom: 0.5px solid #666;
}

.feature-list li:last-child {
    border-bottom: none;
}

/* Contact Section */
/* Contact Section */
section#contact {
    margin-bottom: 6rem;
}

#contact-desc {
    font-size: 21px;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 3rem;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.contact-item {
    background-color: rgba(148, 77, 178, 0.1);
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px; /* Adjust this value as needed */
}

.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(148, 77, 178, 0.2);
}

.contact-item p {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.contact-link {
    cursor: pointer;
    display: inline-block;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

/* ===== FOOTER ===== */
footer {
    font-size: small;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 1rem;
    border-top: 0.5px solid #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    color: var(--nav-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem;
}

footer a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

#footer-link {
    color: var(--primary-color);
}

footer p {
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
}

/* ===== COMPONENTS ===== */
/* Theme Switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d1951;
    border: 1px solid #9a67b6;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2px;
    background-color: var(--primary-color);
    transition: .4s;
}

input:checked + .slider {
    background-color: #b287c6;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Buttons */
.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn-sec {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 768px) {
    /* Navigation */
    .menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--nav-text-color);
    }

    .menu-icon.active::before {
        content: "\2715";
        transform: rotate(0deg);
    }

    .menu-icon::before {
        content: "\2630";
    }

    .menu-icon.active::before {
        transform: rotate(90deg);
    }

    #theme-container {
        display: none;
    }

    #theme-container-mobile {
        display: block;
        margin: 1.5rem;
    }

    .switch {
        margin-bottom: -10rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--nav-background-color);
        border-bottom: 0.5px solid #666;
        padding: 1rem;
        box-sizing: border-box;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        margin: 0.5rem 0;
        text-align: center;
    }

    /* Content */
    main {
        width: 100%;
    }

    .points-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #features h2 {
        font-size: 2rem;
    }

    .feature-list li {
        font-size: 1rem;
    }

    #contact h2 {
        font-size: 2rem;
    }

    #contact-desc {
        font-size: 1rem;
    }

    .contact-links {
        gap: 1rem;
    }

    /* Footer */
    footer > div {
        flex-direction: column;
        align-items: center;
    }
}